<!DOCTYPE html>
<html>
  <head>
    <title>Thread Activity Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
      .cpu-column {
        display: inline-block;
        vertical-align: top;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        position: relative;
        width: 100px;
      }
      .thread-box {
        position: absolute;
        width: 100%;
        background-color: aquamarine;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Thread Activity Visualization</h1>
    <div id="app">
      <div>
        <label for="timescale">Timescale Divisor:</label>
        <input
          id="timescale"
          type="number"
          v-model.number="timescaleDivisor"
          min="1"
          style="margin-bottom: 20px"
        />
      </div>
      <div
        v-for="(threads, cpu) in cpuThreads"
        :key="cpu"
        :style="{ display: 'inline-block',  margin: '10px', width: '100px' }"
      >
        <h2>CPU {{ cpu }}</h2>
        <div
          class="cpu-column"
          :style="{ height: getPosition(lastTime) + 'px' }"
        >
          <div
            v-for="thread in threads"
            :key="thread.pid"
            class="thread-box"
            :data-event="thread.event"
            :data-box="thread.box"
            :style="{ top: getPosition(thread.start_timestamp_ns) + 'px', height: getHeight(thread.start_timestamp_ns, thread.end_timestamp_ns) + 'px', backgroundColor: getColorForPid(thread.pid) }"
          >
            {{ thread.pid }}
          </div>
        </div>
      </div>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          cpuStates: {},
          cpuThreads: {},
          startTime: null,
          lastTime: null,
          pidColors: {},
          pidToCpu: {},
          timescaleDivisor: 1_000_000, // Default timescale divisor in ms
        },
        methods: {
          getPosition(timestamp_ns) {
            return (timestamp_ns - this.startTime) / this.timescaleDivisor;
          },
          getHeight(start_timestamp_ns, end_timestamp_ns) {
            if (!this.lastTime || this.lastTime < end_timestamp_ns) {
              this.lastTime = end_timestamp_ns;
            }
            return (
              (end_timestamp_ns - start_timestamp_ns) / this.timescaleDivisor
            );
          },
          getColorForPid(pid) {
            if (!this.pidColors[pid]) {
              // Generate a random color and store it
              this.pidColors[pid] =
                "#" +
                Math.floor(Math.random() * 0xffffff)
                  .toString(16)
                  .padStart(6, "0");
            }
            return this.pidColors[pid];
          },
        },
        created() {
          var ws = new WebSocket("ws://localhost:8080/ws");
          ws.onmessage = (event) => {
            console.log(event.data);
            var data = JSON.parse(event.data);
            if (data.type !== "THREAD_TRACE_SWITCH") {
              return;
            }
            if (!this.cpuStates[data.cpu]) {
              if (!data.next_is_observed) {
                return;
              }
              this.cpuStates[data.cpu] = {
                pid: data.next_pid,
                start_timestamp_ns: data.timestamp_ns,
              };
              if (this.startTime === null) {
                this.startTime = data.timestamp_ns;
                console.log("Start time", this.startTime);
              }
              return;
            } else {
              if (this.cpuStates[data.cpu].pid !== data.prev_pid) {
                console.error(
                  "CPU EXPECTED SWITCH ERROR",
                  this.cpuStates[data.cpu].pid,
                  data.prev_pid
                );
                this.cpuStates[data.cpu] = false;
                return;
              }
              if (this.cpuThreads[data.cpu] === undefined) {
                this.$set(this.cpuThreads, data.cpu, []);
              }
              var threadBox = {
                pid: data.prev_pid,
                start_timestamp_ns: this.cpuStates[data.cpu].start_timestamp_ns,
                end_timestamp_ns: data.timestamp_ns,
              };
              this.cpuThreads[data.cpu].push({
                ...threadBox,
                event: JSON.stringify(data),
                box: JSON.stringify(threadBox),
              });

              if (data.next_is_observed) {
                this.cpuStates[data.cpu] = {
                  pid: data.next_pid,
                  start_timestamp_ns: data.timestamp_ns,
                };
              } else {
                this.cpuStates[data.cpu] = false;
              }
            }
          };
        },
      });
    </script>
  </body>
</html>
